* {
    font-family: roboto;
}

.hero, footer {
    background-color: #1F2937;
}

h1 {
    font: 24px;
    color: #f9faf8;
}


h2 {
    font: 48px;
    color: #f9faf8;
    weight: 900px;
}


.hero ul, .headerbody p {
    font: 18px;
    color: #e5e7eb;
}

button, h4 {
    background-color: #3882f6;
}

#box {
    border: 5px black solid; 
}

.gray {
    font: 36px #1F29eF;
    background-color: #e5e7eb;
    font-style: italic;
}