* {
    font-family: roboto;
}

#box1, footer {
    background-color: #1F2937;
}

#box1 {
    padding: 50px;
    display: flex;
    justify-content: center;
}


.header {
    display: flex;

}
nav p {
    font: 24px;
    color: #f9faf8;
}

nav ul{
    display: flex;
}

h1 {
    font: 48px;
    color: #f9faf8;
    weight: 900px;
}

#box1 ul, .box1 p {
    font: 18px;
    color: #e5e7eb;
}

button, #box4 {
    background-color: #3882f6;
}

h3 {
    font: 36px #1f2937;
    font-weight: 900px;
}

#box2 {
    display: flex;
}
.box2 {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}
#box3 {
    font: 36px #1F2937;
    font-style: italic;
    background-color: #e5e7eb;
}

.header {
    display: flex;
    padding: 50px;
}